<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">No.</Data></Cell>
        <Cell><Data ss:Type="String">NIS</Data></Cell>
        <Cell><Data ss:Type="String">Full Name</Data></Cell>
        <Cell><Data ss:Type="String">Class</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Day School</Data></Cell>
      </Row>
    <% @attendances.each_with_index do |resource, index| %>
      <Row>
        <Cell><Data ss:Type="String"><%= index+=1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.try(:student).try(:profile_student).try(:nis) %></Data></Cell>
        <Cell>
          <Data ss:Type="String">
            <%= resource.try(:student).try(:profile_student).try(:first_name) + resource.try(:student).try(:profile_student).try(:last_name) %>
          </Data>
        </Cell>
        <Cell><Data ss:Type="String"><%= resource.try(:student).try(:profile_student).try(:student_class) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.status? %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.created_at.strftime("%B, %d, %Y") %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>