.row
  .col-md-12 
    %center.avatar-form
      = image_tag @student.photo.url(:normal), class: 'img-circle'
      %br
      %span.btn.btn-info.btn-choice
        Choice Avatar
      = f.file_field :photo, style: "display: none"
    %br
    %br

  .col-md-12
    .form-group
      %br
      %h3 Data Akun
      %hr
  .col-md-6
    .form-group
      %em * 
      = f.label :username
      = f.text_field :username, class: 'form-control', required: true
    .form-group
      %em * 
      = f.label :email
      = f.email_field :email, class: 'form-control', required: true
  .col-md-6
    .form-group
      %em * 
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      %em * 
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'
  .col-md-12
    .form-group
      %h3 Data Pribadi
      %hr
  .col-md-6
    .form-group
      %em * 
      = f.label :nama_depan
      = f.text_field :first_name, class: 'form-control', required: true
    .form-group
      %em * 
      = f.label :nama_belakang
      = f.text_field :last_name, class: 'form-control', required: true
    .form-group
      %em * 
      = f.label :tanggal_lahir
      = f.date_field :born, class: 'form-control', required: true
  .col-md-6
    .form-group
      %em * 
      = f.label :no_hp
      = f.number_field :phone, class: 'form-control', required: true
    .form-group
      %em * 
      = f.label :jenis_kelamin
      = f.select :gender, ['Laki-Laki', 'Perempuan'], {prompt: 'Pilih Jenis Kelamin'}, class: 'form-control', required: true
    .form-group
      %em * 
      = f.label :alamat
      = f.text_field :address, class: 'form-control', required: true
  .col-md-12
    .form-group
      %h3 Data Orangtua
      %hr
    .form-group
      %em * 
      = f.label :nama_orangtua
      = f.text_field :parent_name, class: 'form-control', required: true
    .form-group
      %em * 
      = f.label :kontak_orangtua
      = f.number_field :parent_contact, class: 'form-control', required: true
    .form-group
      %em * 
      = f.label :alamat_orangtua
      = f.text_area :parent_address, class: 'form-control', required: true

  .col-md-12
    = f.submit 'SAVE', class: "btn btn-success btn-login"
