.box
  %br
  .panel-body
    %label <b>#{@students_count}</b> Result #{params[:controller].split('/')[1]}
    = form_for :search, url: backend_students_path(params), method: 'get', html:{class: 'form-inline'} do |f|
      .form-group
        = text_field_tag :key, params[:key], class: 'form-control', placeholder: "Search", style: 'width: 300px'
      %button{type: "submit", class: "btn btn-default"} Search

  = form_for :multiple, url: multiple_action_backend_students_path, method: 'get' do
    .box-body
      %table.table.table-hover
        %tr
          %th{width: '10%'}
            Photo
          %th Nama
          %th Email
          %th Jenis Kelamin
          %th{width: '20%'} Alamat
          %th Tanggal Daftar
          %th{width: '15%'} Action

        - @students.each do |resource|
          %tr
            %td
              = image_tag resource.photo.url(:thumb), style: 'width:50px;'
            %td
              #{resource.first_name} #{resource.last_name}
            %td
              = resource.email
            %td
              = resource.gender
            %td
              = resource.address
            %td
              = resource.created_at.strftime("%B, %d, %Y")
            %th
              = link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_backend_student_path(resource), class: 'btn btn-primary btn-xs'
              = link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe, backend_student_path(resource), method: 'delete', data: {confirm: "Data #{@resource_name} successfully deleted!"}, class: 'btn btn-danger btn-xs'

    = paginate @students

