- @profile_student = @student.profile_student
.box
  .box-header
    %b
      #{@profile_student.first_name} (#{@profile_student.nis})
      = link_to 'Back To List', backend_students_path, class: 'btn btn-info btn-xs pull-right'
      = link_to "<i class='fa fa-print'></i> PRINT REPORT".html_safe, report_backend_students_path(id: @student, format: 'pdf'), class: "btn btn-xs btn-success pull-right"
    %hr
  .box-body.table-responsive
    .col-md-5
      %h3 Latest Attendances
      %label <b>#{@attendances_all.size}</b> Results
      = form_for :search, url: report_backend_students_path(params), method: 'get', html:{class: 'form-inline'} do |f|
        = hidden_field_tag :id, params[:id]
        .row
          .col-md-4
            = date_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
          .col-md-4
            = date_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
          .col-md-1
            %button{type: "submit", class: "btn btn-default"} Search
      = form_for :multiple, url: multiple_action_backend_attendances_path, method: 'get' do
        %br
        .table-responsive
          %table.table.table-hover.table-striped
            %tr
              %th Class
              %th Status
              %th Year
              %th Month
              %th Day
            - @attendances.each do |resource|
              %tr
                %td
                  = resource.try(:student).try(:profile_student).try(:student_class)
                %td
                  = resource.status?
                %td
                  = resource.created_at.strftime("%Y")
                %td
                  = resource.created_at.strftime("%B")
                %td
                  = resource.created_at.strftime("%d")

        = paginate @attendances

    .col-md-7
      .col-md-12
        .card-student
          .header 
            = image_tag 'logo.png', style: 'height:40px;'
            SMP N 11 Kota Sukabumi
          .col-md-4
            = image_tag @student.avatar.url(:normal), class: 'avatar'
            %h4 #{@profile_student.nis}
            %small #{@student.created_at.strftime("%B, %d, %Y")}
          .col-md-5
            .form-group
              %strong Full Name
              %h4 #{@profile_student.first_name} #{@profile_student.last_name}
            .form-group
              %strong Student Class
              %h4 #{@profile_student.student_class}
            .form-group
              %strong Address
              %h4 #{@profile_student.address}
          .col-md-3
            = image_tag @student.get_barcode?, style: 'width:100%;'
      .col-md-12
        %h3 Statistik Attendances #{Time.zone.now.strftime("%Y")}
        = javascript_include_tag "//www.google.com/jsapi", "chartkick"

        = column_chart @query_attendances.per_year.group_by_month(:created_at, format: "%b %Y").count
        = line_chart @query_attendances.per_year.group_by_month(:created_at, format: "%b %Y").count
        = pie_chart @query_attendances.per_year.group(:status).count


