.container
  .row
    .col-xs-12
      %br
      = javascript_include_tag "//www.google.com/jsapi", "chartkick"
      .well
        %h4{align: 'center'} Statistik Pendaftaran Siswa
      = column_chart @students.per_year.group_by_month('users.created_at').count
      %br
      %ul.today-datas.display-center
        %li
          .datas-text
            %b 
              = @students.count_today
            %br 
            Hari Ini
        %li
          .datas-text
            %b 
              = @students.count_week
            %br 
            Minggu Ini
        %li
          .datas-text
            %b 
              = @students.count_month
            %br 
            Bulan Ini
        %li
          .datas-text
            %b 
              = @students.count
            %br 
            Keseluruhan
      .chart
        %canvas#number_visitors