.container
  .row
    .col-xs-12
      %br
      = javascript_include_tag "//www.google.com/jsapi", "chartkick"
      .well
        %h4{align: 'center'} Statistik Attendance Students
      = column_chart Attendance.per_year.group_by_month(:created_at, format: "%b %Y").count
      %br
      %ul.today-datas.display-center
        %li
          .datas-text
            %b 
              = Attendance.count_today
            %br 
            Attendance Today
        %li
          .datas-text
            %b 
              = Attendance.count_week
            %br 
            Attendance This Week
        %li
          .datas-text
            %b 
              = Attendance.count_month
            %br 
            Attendance This Month
        %li
          .datas-text
            %b 
              = Attendance.count_year
            %br 
            Attendance This Year
        %li
          .datas-text
            %b 
              = Attendance.count
            %br 
            Attendance till date
      .chart
        %canvas#number_visitors