.modal.fade{:role => "dialog", id: "modal-test-eng"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title{align: 'center'} TES PENGETAHUAN BAHASA INGGRIS
      = form_for :test, url: skill_test_path, method: 'post' do |f|
        .modal-body
          = hidden_field_tag :test_id, c.id
          / question 1
          .col-xs-12 
            .well
              1. Where ........ you born?
          .col-xs-4
            .well
              %center
                = f.radio_button :question1, 'A', required: true
                %br Are
          .col-xs-4
            .well
              %center
                = f.radio_button :question1, 'B', required: true
                %br Am
          .col-xs-4
            .well
              %center
                = f.radio_button :question1, 'C', required: true 
                %br Were
          .col-xs-12 
            %hr

          / question 2
          .col-xs-12 
            .well
              2. I want to ......... your voice.
          .col-xs-4
            .well
              %center
                = f.radio_button :question2, 'A', required: true 
                %br Here
          .col-xs-4
            .well
              %center
                = f.radio_button :question2, 'B', required: true 
                %br Hear
          .col-xs-4
            .well
              %center
                = f.radio_button :question2, 'C', required: true 
                %br Ear
          .col-xs-12 
            %hr

          / question 3
          .col-xs-12 
            .well
              3. I have an ........... I like this fruit so much.
          .col-xs-4
            .well
              %center
                = f.radio_button :question3, 'A', required: true  
                %br Grape
          .col-xs-4
            .well
              %center
                = f.radio_button :question3, 'B', required: true  
                %br Orange
          .col-xs-4
            .well
              %center
                = f.radio_button :question3, 'C', required: true  
                %br Watermelon
          .col-xs-12 
            %hr

          / question 4
          .col-xs-12 
            .well
              4. Roy and Alex ............. my best friend ever.
          .col-xs-4
            .well
              %center
                = f.radio_button :question4, 'A', required: true  
                %br Also
          .col-xs-4
            .well
              %center
                = f.radio_button :question4, 'B', required: true  
                %br Are
          .col-xs-4
            .well
              %center
                = f.radio_button :question4, 'C', required: true  
                %br Is
          .col-xs-12 
            %hr

          / question 5
          .col-xs-12 
            .well
              5. Diana ........... a beautiful long hair.
          .col-xs-4
            .well
              %center
                = f.radio_button :question5, 'A' , required: true 
                %br Have
          .col-xs-4
            .well
              %center
                = f.radio_button :question5, 'B' , required: true 
                %br Has
          .col-xs-4
            .well
              %center
                = f.radio_button :question5, 'C' , required: true 
                %br Did
          .col-xs-12 
            %hr

          / question 6
          .col-xs-12 
            .well
              6. Today is Sunday, tomorrow is ...........
          .col-xs-4
            .well
              %center
                = f.radio_button :question6, 'A' , required: true 
                %br Tuesday
          .col-xs-4
            .well
              %center
                = f.radio_button :question6, 'B' , required: true 
                %br Wednesday
          .col-xs-4
            .well
              %center
                = f.radio_button :question6, 'C' , required: true 
                %br Monday
          .col-xs-12 
            %hr

          / question 7
          .col-xs-12 
            .well
              7. My Sister feels drowsy ........... she has a long time fever.
          .col-xs-4
            .well
              %center
                = f.radio_button :question7, 'A' , required: true 
                %br So
          .col-xs-4
            .well
              %center
                = f.radio_button :question7, 'B' , required: true 
                %br Until
          .col-xs-4
            .well
              %center
                = f.radio_button :question7, 'C' , required: true 
                %br Because
          .col-xs-12 
            %hr

          / question 8
          .col-xs-12 
            .well
              8. My laptop is the ........... among others.
          .col-xs-4
            .well
              %center
                = f.radio_button :question8, 'A' , required: true 
                %br Best
          .col-xs-4
            .well
              %center
                = f.radio_button :question8, 'B' , required: true 
                %br Better
          .col-xs-4
            .well
              %center
                = f.radio_button :question8, 'C' , required: true 
                %br Good
          .col-xs-12 
            %hr

          / question 9
          .col-xs-12 
            .well
              9. This book is too ............
          .col-xs-4
            .well
              %center
                = f.radio_button :question9, 'A' , required: true 
                %br Big
          .col-xs-4
            .well
              %center
                = f.radio_button :question9, 'B' , required: true 
                %br Bigger
          .col-xs-4
            .well
              %center
                = f.radio_button :question9, 'C' , required: true 
                %br Biggest
          .col-xs-12 
            %hr

          / question 10
          .col-xs-12 
            .well
              10. I ............ go to Washington D.C next week.
          .col-xs-4
            .well
              %center
                = f.radio_button :question10, 'A' , required: true 
                %br Am going to
          .col-xs-4
            .well
              %center
                = f.radio_button :question10, 'B' , required: true 
                %br Will
          .col-xs-4
            .well
              %center
                = f.radio_button :question10, 'C' , required: true 
                %br Plans to
          .col-xs-12 
            %hr

        .modal-footer
          = submit_tag 'FINISH', class: 'btn btn-success'