.modal.fade{:role => "dialog", id: "modal-test-it"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title{align: 'center'} TEST PENGETAHUAN KOMPUTER
      = form_for :test, url: skill_test_path, method: 'post' do |f|
        .modal-body
          = hidden_field_tag :test_id, c.id
          / question 1
          .col-xs-12 
            .well
              1. Berikut yang bukan merupakan sistem operasi adalah:
          .col-xs-4
            .well
              %center
                = f.radio_button :question1, 'A', required: true
                %br Microsoft Access
          .col-xs-4
            .well
              %center
                = f.radio_button :question1, 'B', required: true
                %br Windows XP
          .col-xs-4
            .well
              %center
                = f.radio_button :question1, 'C', required: true 
                %br LINUX
          .col-xs-12 
            %hr

          / question 2
          .col-xs-12 
            .well
              2. Langkah terakhir pada saat mematikan komputer dengan sistem windows 98 adalah ......
          .col-xs-4
            .well
              %center
                = f.radio_button :question2, 'A', required: true 
                %br Log Off
          .col-xs-4
            .well
              %center
                = f.radio_button :question2, 'B', required: true 
                %br Shut Down
          .col-xs-4
            .well
              %center
                = f.radio_button :question2, 'C', required: true 
                %br Turn Off
          .col-xs-12 
            %hr

          / question 3
          .col-xs-12 
            .well
              3. Berikut ini yang bukan merupakan bagian aplikasi perkantoran adalah ..........
          .col-xs-4
            .well
              %center
                = f.radio_button :question3, 'A', required: true  
                %br MS. Word
          .col-xs-4
            .well
              %center
                = f.radio_button :question3, 'B', required: true  
                %br Corel Draw
          .col-xs-4
            .well
              %center
                = f.radio_button :question3, 'C', required: true  
                %br MS. Excel
          .col-xs-12 
            %hr

          / question 4
          .col-xs-12 
            .well
              4. Tombol power yang berfungsi untuk menghidupkan komputer terletak pada .........
          .col-xs-4
            .well
              %center
                = f.radio_button :question4, 'A', required: true  
                %br Monitor
          .col-xs-4
            .well
              %center
                = f.radio_button :question4, 'B', required: true  
                %br Harddisk
          .col-xs-4
            .well
              %center
                = f.radio_button :question4, 'C', required: true  
                %br CPU
          .col-xs-12 
            %hr

          / question 5
          .col-xs-12 
            .well
              5. Untuk mengistirahatkan komputer tanpa mematikannya maka tombol yang ditekan adalah ..........
          .col-xs-4
            .well
              %center
                = f.radio_button :question5, 'A' , required: true 
                %br Stand By
          .col-xs-4
            .well
              %center
                = f.radio_button :question5, 'B' , required: true 
                %br Restart
          .col-xs-4
            .well
              %center
                = f.radio_button :question5, 'C' , required: true 
                %br Hybernate
          .col-xs-12 
            %hr

          / question 6
          .col-xs-12 
            .well
              6. Hardware komputer yang digunakan untuk memasukkan data adalah ..........
          .col-xs-4
            .well
              %center
                = f.radio_button :question6, 'A' , required: true 
                %br Harddisk
          .col-xs-4
            .well
              %center
                = f.radio_button :question6, 'B' , required: true 
                %br RAM
          .col-xs-4
            .well
              %center
                = f.radio_button :question6, 'C' , required: true 
                %br Input Device
          .col-xs-12 
            %hr

          / question 7
          .col-xs-12 
            .well
              7. Bagan prinsip kerja komputer adalah terdiri dari bagian ...........
          .col-xs-4
            .well
              %center
                = f.radio_button :question7, 'A' , required: true 
                %br Input - Output - Proses
          .col-xs-4
            .well
              %center
                = f.radio_button :question7, 'B' , required: true 
                %br Input - Proses - Output
          .col-xs-4
            .well
              %center
                = f.radio_button :question7, 'C' , required: true 
                %br Output - Input - Proses
          .col-xs-12 
            %hr

          / question 8
          .col-xs-12 
            .well
              8. RAM pada komputer berfungsi menentukan ...........
          .col-xs-4
            .well
              %center
                = f.radio_button :question8, 'A' , required: true 
                %br Kecepatan mengubah data
          .col-xs-4
            .well
              %center
                = f.radio_button :question8, 'B' , required: true 
                %br Kecepatan mengganti data
          .col-xs-4
            .well
              %center
                = f.radio_button :question8, 'C' , required: true 
                %br Kecepatan memproses data
          .col-xs-12 
            %hr

          / question 9
          .col-xs-12 
            .well
              9. Cara penggunaan Mouse dengan menggeser sambil menekan tombol sebelah kiri disebut ............
          .col-xs-4
            .well
              %center
                = f.radio_button :question9, 'A' , required: true 
                %br Drag
          .col-xs-4
            .well
              %center
                = f.radio_button :question9, 'B' , required: true 
                %br Double klik
          .col-xs-4
            .well
              %center
                = f.radio_button :question9, 'C' , required: true 
                %br Klik kanan
          .col-xs-12 
            %hr

          / question 10
          .col-xs-12 
            .well
              10. Komputer dari segi bahasanya, ini diambil dari kosa kata "TO COMPUTE" yang artinya menghitung. Kata tersebut diambil dari bahasa ..........
          .col-xs-4
            .well
              %center
                = f.radio_button :question10, 'A' , required: true 
                %br Amerika
          .col-xs-4
            .well
              %center
                = f.radio_button :question10, 'B' , required: true 
                %br Inggris
          .col-xs-4
            .well
              %center
                = f.radio_button :question10, 'C' , required: true 
                %br Latin
          .col-xs-12 
            %hr

        .modal-footer
          = submit_tag 'FINISH', class: 'btn btn-success'