- unless @check_day_attendance.present?
  - if params[:nis].present?
    - @student = Student.bonds.where("profile_students.nis =?", params[:nis]).last
    - @profile_student = @student.profile_student
    .card-student
      .header Student Card SMP N 11 Kota Sukabumi
      .col-md-4
        = image_tag @student.avatar.url(:normal), class: 'avatar'
        %h4 #{@profile_student.nis}
        %small #{@student.created_at.strftime("%B, %d, %Y")}
      .col-md-5
        .form-group
          %strong Full Name
          %h4 #{@profile_student.first_name} #{@profile_student.last_name}
        .form-group
          %strong Student Class
          %h4 #{@profile_student.student_class}
        .form-group
          %strong Address
          %h4 #{@profile_student.address}
      .col-md-3
        = image_tag @student.get_barcode?, style: 'width:100%;'

    .student-success
      .fa.fa-check Anda Berhasil Absen #{Time.zone.now.strftime("%A, %d, %B, %Y")}