.box.box-form
  .container
    .col-md-4.col-md-offset-4
      .box-header
        %h1 
          = link_to "#{image_tag 'logo6.png'}".html_safe, root_path
      .box-content
        = form_for :user, url: user_session_path, method: 'post', html: {class: ""} do |f|
          .form-group
            %label Email or Username
            = f.text_field :login, class: "form-control", required: true
          .form-group
            %label Password
            = f.password_field :password, class: "form-control", required: true
          .button
            = f.submit "SignIn", class: "btn btn-login btn-login-submit btn-success"
          .form-group
            .pull-right
              = link_to 'Forgot Password?', new_user_password_path
