%aside.main-sidebar
  %section.sidebar
    .user-panel
      .pull-left.image
        = image_tag current_user.avatar.url(:thumb), class: 'img-circle'
      .pull-left.info
        %p #{current_user.username}
        %a{:href => "#"}
          %i.fa.fa-circle.text-success
          Online
    %ul.sidebar-menu
      %li.header MENU
      %li.active
        = link_to '<i class="fa fa-link"></i> Dashboard'.html_safe, backend_dashboard_admin_path

      - if current_user.is_admin?
        %li{class: "treeview #{active_sidebar?(:admins, :all)}"}
          %a{:href => "#"}
            %i.fa.fa-user-secret
            %span Data Admins
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              = link_to 'Input Data Admin'.html_safe, new_backend_admin_path
            %li
              = link_to 'List Admins', backend_admins_path
        %li{class: "treeview #{active_sidebar?(:teachers, :all)}"}
          %a{:href => "#"}
            %i.fa.fa-user-secret
            %span Data Teachers
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              = link_to 'Input Data Teacher'.html_safe, new_backend_teacher_path
            %li
              = link_to 'List Teachers', backend_teachers_path
      %li{class: "treeview #{active_sidebar?(:students, :all)}"}
        %a{:href => "#"}
          %i.fa.fa-users
          %span Data Students
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            = link_to 'Input Data Student'.html_safe, new_backend_student_path
          %li
            = link_to 'List Students', backend_students_path
      %li{class: "treeview #{active_sidebar?(:attendances, :all)}"}
        %a{:href => "#"}
          %i.fa.fa-calendar
          %span Data Attendances
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            = link_to 'List Attendances', backend_attendances_path

