%aside.main-sidebar
  %section.sidebar
    .user-panel
      .pull-left.image
        = image_tag current_user.photo.url(:thumb), class: 'img-circle'
      .pull-left.info
        %p #{current_user.username}
        %a{:href => "#"}
          %i.fa.fa-circle.text-success
          Online
    %ul.sidebar-menu
      %li.header MENU
      %li.active
        = link_to '<i class="fa fa-link"></i> Dashboard'.html_safe, backend_dashboard_admin_path
      %li{class: "treeview #{active_sidebar?(:students, :all)}"}
        %a{:href => "#"}
          %i.fa.fa-users
          %span Data Siswa
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            = link_to 'List Siswa', backend_students_path

      %li{class: "treeview #{active_sidebar?(:courses, :all)}"}
        %a{:href => "#"}
          %i.fa.fa-bars
          %span Data Register Kursus
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            = link_to 'List Register Kursus', backend_courses_path

      %li{class: "treeview #{active_sidebar?(:confirmations, :all)}"}
        %a{:href => "#"}
          %i.fa.fa-money
          %span Data Konfirmasi
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            = link_to 'List Konfirmasi', backend_confirmations_path

